
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="cate">
    <div class="container">
        <h3 style="text-align:center; margin-top:20px; font-weight:bold;margin-bottom:-40px;">CONTACT US</h3>
        <div class="categorie-grids">
            <div class="col-md-4 cate-grid grid1">
                <h4 style="text-align:center">ADDRESS</h4>
                <p style="text-align:center">279 Nguyen Tri Phuong Street, W5, D10, Ho Chi Minh City</p>
            </div>
            <div class="col-md-4 cate-grid grid2">
                <h4 style="text-align:center">CALL US</h4>
                <p style="text-align:center">0912345678</p>
            </div>
            <div class="col-md-4 cate-grid grid3">
                <h4 style="text-align:center">EMAIL</h4>
                <p style="text-align:center">nhom5.ptudtmdt@gmail.com</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <h3 style="text-align:center; margin-top:20px; font-weight:bold; margin-bottom: 20px;">LOCATION US</h3>
    <div class="col-12 " style="text-align:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.652755029487!2d106.66625811477137!3d10.761222492331877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee4ecfa255d%3A0x9e5ec3fa6801b7d6!2zMjc5IE5ndXnhu4VuIFRyaSBQaMawxqFuZywgUGjGsOG7nW5nIDUsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1679850094765!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
</div>