
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutDH.cshtml";
}
<body style="text-align: center">
    <br><br>
    <img src="https://icons.veryicon.com/png/o/miscellaneous/8atour/success-35.png" height="50"/><br><br>
    <h2>AWESOME!</h2><br>
    <h4>Your order has been confirmed. You will receive goods in 2-3 days. Thank you for your order!</h4><br>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Continue shopping</a><br>
</body>


