
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}
<div>
    <hr />
    <h2 style="text-align:center">HƯỚNG DẪN MUA HÀNG</h2>
    <h4>Bước 1:</h4>
    <img scr="~/Asset/Images/er1.png" style="max-width: 100%" />
    <p>Khi truy cập vào Website, bạn hãy chọn mục SKATEBOARDS để hiện danh sách các sản phẩm liên quan đến ván trượt, bạn có thể xem loại ván trượt mà mình yêu thích bằng cách chọn Quick View. </p>
    <hr />
    <h4>Bước 2:</h4>
    <img src="~/Asset/Images/hdmh2.png" style="max-width: 100%" />
    <p>Click vào ADD TO CART để thêm sản phẩm vào giỏ hàng</p>
    <hr />
    <h4>Bước 3:</h4>
    <img src="~/Asset/Images/hdmh3.png" style="max-width: 100%" />
    <p>Sản phẩm đã được thêm vào giỏ hàng, bạn có thể điều chỉnh số lượng hoặc quay về trang trước đó để chọn sản phẩm khác, bạn cần đăng kí tài khoản để tiếp tục mua hàng</p>
    <hr />
    <h4>Bước 4:</h4>
    <img src="~/Asset/Images/hdmh4.png" style="max-width: 100%" />
    <p>Click vào Register để đăng ký tài khoản</p>
    <hr />
    <h4>Bước 5:</h4>
    <img src="~/Asset/Images/hdmh5.png" style="max-width: 100%" />
    <p>Bạn cần điền thông tin vào form trên, rồi sau đó click Save</p>
    <hr />
    <h4>Bước 6:</h4>
    <img src="~/Asset/Images/hdmh6.png" style="max-width: 100%" />
    <p>Sau khi đăng ký thành công, bạn cần nhập mã code đã đăng ký, địa chỉ giao hàng, click CheckOut để hoàn tất quá trình đặt hàng</p>
    <hr />
    <h4>Bước 7:</h4>
    <img src="~/Asset/Images/hdmh7.png" style="max-width: 100%" />
    <p>Hiện thông báo đặt hàng thành công. Chúc bạn mua hàng vui vẻ!!!</p>
</div>


